# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other
tags
*.DS_Store
Session.vim

# Binaries
megaphone
phonebook
zombie
zombiehorde
string
violence
replace
karen
fixed0
fixed1
fixed2
claptrap
scavtrap
fragtrap
polymorphism
brain
abstract
bureaucrat
